@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
}

body{
    font-family: 'Inter', sans-serif;
    color:#1D1D1F;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
    color:#DC5B1B;
}

h3{
    font-weight: medium;
    color:#5EA608;
}

p{
    margin-bottom:0px;
}

.logo{
    width:200px;
}

#features, #productos-temporada, #promos, #podcasts, #productosyservicios, #testimonios, #receta{
    text-align: center;
    align-items: center;
}

section{
    margin:50px 0px;
}

section h2{
    padding-bottom: 30px;
}

button, .btn-primary{
    border-radius: 20px;
    width:210px;
    height: 46px;
    cursor: pointer;
    box-shadow: 0px;
    text-decoration: none;
    text-align: center;
    font-size:medium;
    font-weight: bold;
    border:none;
    background-color: #5EA608;
    color:#fff;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.btn-primary:hover, .product-item-btn:hover{
    background-color:#376301;
    font-size: large;
}

.btn-border{
    background-color: #fff;
    border:solid 1px #5EA608;
    color:#5EA608;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function:linear;
}

.btn-border:hover{
    background-color: #5EA608;
    color:#fff;
    border:solid 1px #5EA608;
}

.btn-secundary{
    background-color: #DC5B1B;
    color:#fff;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.btn-secundary:hover{
    background-color: #9a3807;
    font-size: large;
}

/* MENU */

header{
    position:sticky;
    top:0;
}

.bg-verde{
    background-color: #F8FFEF;
}

.navbar-light .navbar-nav .nav-link.active{
    color:#5EA608;
}

.navbar-light .navbar-nav .nav-link{
    color:#1D1D1F;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link{
    color:#DC5B1B;
}

.navbar-light .navbar-toggler {
    color:#5EA608;
    border-color:rgba(0,0,0,.0);
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(94 166 8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* CABECERAS */
.cabecera{
    text-align: center;
    width:100%;
    height: 284px;
    background-position: center;
    background-repeat: no-repeat;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-top: 0px;
}

.cabecera h2{
    color:#fff;
}

.cab-nosotros{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/sobre-nosotros/cover-nosotros.png);
}

.cab-productos{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/productos/cover-productos.png);
}

.cab-vidasaludable{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/vidasaludable/cover-vidasaludable.png);
}

.cab-contacto{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contacto/cover-contacto.png);
}

/* FOOTER */

.footer-principal{
    padding:50px 30px;
    background-color: #F8FFEF;
}

.footer-principal div ul li a{
    text-decoration: none;
    color:#1D1D1F;
}

.footer-principal div ul li a:hover{
    text-decoration: none;
    color:#DC5B1B;
}

.footer-principal div ul{
    list-style: none;
    padding:0;
}

.rsocial{
    display:inline-block;
    
}

.footer-copyright{
    background-color:#fff;
    color:#1D1D1F;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60px;
}

/* HOME */
.hero{
    height: 456px;
    background-color: #F8FFEF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

.hero h1{
    padding:10px 0px;
    font-size: 2rem;
}

.cta{
    display: inline-block;
    padding-top: 20px;
}

#features{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-card{
    display: flex;
    align-items: center;
}

.features-card-info{
    text-align: left;
    padding-left: 10px;
}

.features-subtitle{
    font-weight: bold;
    color:#DC5B1B;
    font-size: 18px;
}

.features-description{
    font-weight:normal;
    font-size:16px;
}

.features-subdescription{
    font-weight:lighter;
    font-size:14px;
}

#quienes-somos{
    border-radius: 8px;
    background-color: #F8FFEF;
    margin:auto;
    width:85%;
    padding:10px;
}

.quienes-somos-content{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:20px;
}

.quienes-somos-content div{
    margin:10px;
}

.quienes-somos-content div p{
    padding:10px 0px;
}

#temporada{
    text-align: center;
    margin:20px;
}

#pedidos{
    text-align: center;
    width:100%;
    height: 408px;
    background-position: center;
    background-repeat: no-repeat;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-manos.png);
    margin-top:20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pedidos h2, a{
    color:#fff;
    text-decoration: none;
}

/* SOBRENOSOTROS */

#somos-emprendimiento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:30px 30px;
}

.lista-check{
    list-style-image: url('../img/iconos/icon-check.svg');

}

#team{
    background-color: #F8FFEF;
    text-align: center;
    align-items: center;
    margin:20px 0px;
    padding: 50px;
}

.members{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member{
    margin:25px;
    display: inline-block;
}

.team-member h5{
    font-size: medium;
    font-weight: bold;
}

.team-member p{
    font-size: small;
    font-weight: normal;
}

#servicios{
    text-align: center;
}

.servicios-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicios-item{
    text-align: center;
    color:#fff;
    border-radius: 8px;
    width:500px;
    height: 300px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;
}

.servicios-item h4{
    font-size: 20px;
}

.servicios-item button{
    margin-top: 20px;
}

.servicio1{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/sobre-nosotros/card-productos.png);
}

.servicio2{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/sobre-nosotros/card-asesoria.png);
}

#testimonial{
    text-align: center;
}

.testimonios{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.testimonial-card{
    border:solid 1px #D9D9D9;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width:320px;
    height: 100px;
    margin:20px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.testimonial-card-img img{
    width:90px;
    height: 90px;
}

.testimonial-card-info{
    text-align: left;
    padding-left: 10px;
}

.testimonial-card-info h4{
    font-size: small;
}

.testimonial-card-info p{
    font-size: smaller;
}

/* PRODUCTOS */

#tabs-productos{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#tabs-productos ul{
    list-style: none;
    text-decoration: none;
}

#tabs-productos ul li{
    display:inline-block;
    margin:20px;
}

.product-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product-item{
    text-align: center;
    align-items: center;
    border:solid 1px #D9D9D9;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 400px;
    width:350px;
    margin-bottom: 30px;
}

.product-item img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.product-item div{
    padding:15px;
}
.product-item-subtitle{
    color:#5EA608;
    font-size: larger;
    font-weight: bold;
}

.product-item-detail{
    font-size: small;
    padding: 10px 0px;
}

.product-item-prize{
    font-weight: bold;
    color:#DC5B1B;
    padding: 10px 0px;
}

.product-item-btn{
    padding:10px 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #dc5b1b;
    border-radius: 20px;
}

.nav-pills .nav-link {
    border: 2px solid #dc5b1b;
    border-radius: 20px;
}

.nav-link, .nav-link:hover{
    color: #dc5b1b;
}

/* VIDA SALUDABLE */

.podcast-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 550px;
    gap: 15px;
}

.podcast-item iframe{
    width: 80%;
}

#receta h4{
    font-family: 'Courgette', cursive;
    color:#5EA608;
}

.receta-content{
    border-radius: 8px;
    background-color: #F8FFEF;
    margin:auto;
    width:85%;
    padding:10px;
}

#receta div h3{
    padding-top: 30px;
    color:#1D1D1F;
}

.receta-detail{
    display: grid;
    margin:20px;
    grid-template-rows: auto;
    grid-template-columns: 60% 30%;
}

.receta-detail div{
    margin:10px;
    text-align: left;
}

.receta-detail div p{
    padding:10px 0px;
}

.receta-detail div div{
    margin-bottom: 10px;
}

/* CONTACTO */

#contacto{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

#contacto-datos{
    margin-left:30px;
}

#contacto-datos div{
    display: flex;
    justify-content: left;
    align-content: center;
    padding: 0px 10px 10px 0px;
    width:100%;
}

#contacto-datos div div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
}

label{
    color:#5EA608;
    font-weight: bold;
    font-size: medium;
}

input, textarea{
    background-color:#EAF3DD;
    color:#ADCA82;
    border:none;
    border-radius: 8px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
}

input:focus, textarea:focus{
    outline:none;
}

::placeholder{
    color:#ADCA82;
}


/* RESPONSIVE */
@media screen and (max-width:800px) {

    .cabecera{
        height: 150px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 0px;
        height: 350px;
    }

    button, .btn-primary{
        border-radius: 20px;
        width:180px;
    }

    .hero div img{
        display: none;
    }

    .quienes-somos-content,#somos-emprendimiento{
        flex-direction: column;
    }

    .podcast-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 550px;
    }

    .receta-detail{
        display: grid;
        margin:20px;
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width:450px) {
    .quienes-somos-content div img{
        width:200px;
    }
    
    #somos-emprendimiento div img{
        display: none;
    }
    .receta-detail div img{
        display: none;
    }

    #contacto, #contacto-datos div{
        flex-direction: column;
    }

    #contacto-datos div div input, #contacto-datos div div textarea{
        width:80%;
    }

    #contacto-mapa iframe{
        width:100%;
        height: 200px;
    }
}