
/* RESPONSIVE */
@media screen and (max-width:800px) {
    .cabecera{
        height: 150px;
    }

    .logo{
        width:150px!important;
    }

    .tablet-noimg{
        display:none;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 0px;
        height: 350px;
    }

    .boton, .btn-primary, .btn-secundary{
        border-radius: 20px;
        width:180px;
    }

    .quienes-somos-content,#somos-emprendimiento{
        flex-direction: column;
    }

    .podcast-container{
        @include grid(grid,repeat(1,1fr),550px);
    }

    .receta-detail{
        @include grid(grid,100%!important,auto);
        margin:20px;
    }

    #contacto-mapa {
        iframe{
            height: 200px!important; 
        }
    }
    #contacto-datos {
        margin-top: 10%;
        h2,h3{
            text-align: center;
        }
        div{
            flex-direction: column;
            width:100%!important;
        }
        .btn-primary{
            width:100%!important;
        }
    }
}

@media screen and (max-width:450px) {
    .mobile-noimg{
        display:none;
    }
    
    .quienes-somos-content{
        div{
            img{
                width:200px;
            }
        }
    }
}